src/main/resources/SimpleService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ckwanted.com/ss" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleService" targetNamespace="http://ckwanted.com/ss">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ckwanted.com/ss">
      <xsd:element name="concat">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="concatResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="eliminar" type="tns:eliminar-t"></xsd:element>
      <xsd:element name="eliminarResponse"
      	type="tns:eliminarResponse-t">
      </xsd:element>

      <xsd:complexType name="eliminar-t">
      	<xsd:sequence>
      		<xsd:element name="body" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="eliminarResponse-t">
      	<xsd:sequence>
      		<xsd:element name="body" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="concatRequest">
    <wsdl:part element="tns:eliminar" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="concatResponse">
    <wsdl:part element="tns:eliminarResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SimpleService">
    <wsdl:operation name="concat">
      <wsdl:input message="tns:concatRequest"/>
      <wsdl:output message="tns:concatResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimpleServiceSOAP" type="tns:SimpleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="concat">
      <soap:operation soapAction="http://ckwanted.com/ss/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleService">
    <wsdl:port binding="tns:SimpleServiceSOAP" name="p1">
      <soap:address location="http://localhost:8080/ss/p1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
